nav>ul{
    background: rgba(211, 211, 211, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 1em;
    list-style-type: none;
    margin: 0;
    position: fixed;
    top: 1em;
    left: 1em;
    width: 6em;
    bottom: 1em;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

nav>ul>li,
nav>ul>li>a{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav>ul>li{
    height: 100%;
}

nav>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    padding: 1em 0.5em;
    box-sizing: border-box;
    border-radius: 0.1em;
    position: relative;
}

nav>ul>li>a>span{
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    transform-origin: center;
}

nav>ul>li>a:hover{
    background: lightgrey;
}

nav>ul>li>a:hover>span{
    transform: scale(1.2);
}

@media(orientation: portrait) or (max-height: 400px){
    nav>ul{
        flex-direction: row;
        width: auto;
        height: 7em;
        right: 1em;
    }

    nav>ul>li{
        width: 100%;
    }

    nav>ul>li>a{
        text-align: center;
        font-size: 2.2rem;
    }
}